body {
    font-family: Anonymous Pro, monospace;
    color: #333;
    text-align: left;
    }

header {
    font-size: 14px;
    padding: 20px;
    }

section {
    padding: 20px;
    }

footer {
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    }
