body {
    font-family: Anonymous Pro, monospace;
    margin: 0;
    padding: 20px;
    color: #333;
    text-align: left;
    }
    header {
    padding: 20px 0;
    }
    section {
    padding: 20px;
    }
    footer {
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    }
